<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./assets/CSS/login.css">
    <title>Sign In</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <div>
                <a href="#" class="logo font--medium">
                    DiscoverVietNam
                </a>
            </div>
            <div id="header-options">
                <div id="home" class="option">
                    <div class="font--bold font--medium font--white">Home</div>
                </div>
                <div id="signup" class="option">
                    <div class="font--bold font--medium font--white">Sign Up</div>
                </div>
            </div>
        </div>
        <div id="menu">
            <div class="bar">
                <img class="bar-icon" src="./assets/icons/menu.png" alt="menu-icon">
            </div>
            <div id="menu-options" class="font font--bold">
                <a href="/">Home</a>
                <a href="/signup">Sign up</a>
            </div>
        </div>

        <div id="content-container">
            <div id="content">
                <div class="content-box">
                    <div class="font font--bold font--big">Sign in</div>
                </div>
                <form action="/login" method="POST" id="loginForm">
                    <div class="content-box">
                        <table>
                            <tr>
                                <td class="font font--bold">Username</td>
                                <td>
                                    <input class="font" type="text" placeholder="Username" name="username" required>
                                </td>
                            </tr>
                            <tr>
                                <td class="font font--bold">Password</td>
                                <td>
                                    <input class="font" type="password" placeholder="Password" name="password" required>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="content-box">
                        <div id="btn-login" class="btn">Log in</div>
                    </div>
                </form>

                <div class="content-box">
                    <a href="/auth/facebook">
                        <img id="login-with-facebook" src="./assets/icons/facebook.png" alt="facebook-icon"
                            class="icon">
                    </a>
                    <a href="/auth/google">
                        <img id="login-with-google" src="./assets/icons/search.png" alt="google-icon"
                            class="icon">
                    </a>
                    <a href="#">
                        <img id="login-with-instagram" src="./assets/icons/instagram.png" alt="instagram-icon"
                            class="icon">
                    </a>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
    <script src="../assets/JS/login.js"></script>
</body>

</html>