html, body { width: 100%; height: 100%; box-sizing: border-box; }

*, *::after, *::before { margin: 0em; padding: 0em; font-family: sans-serif; box-sizing: border-box; }

a { display: block; text-decoration: none; }

input { outline: none; }
input:focus { box-shadow: 0 0 1em #3266dc; }

#container { position: absolute; width: 100%; height: 100%; }
#container #header { position: relative; width: 100%; height: 35%; box-shadow: 0 0 1em darkgray; border-bottom: 0.1em solid darkgray; }
#container #header #menu { position: absolute; z-index: 300; background-color: #fff; display: none; flex-direction: column; width: 65%; box-shadow: 0 0 1em gray; transition: 2s; }
#container #header #menu #exit-icon { cursor: pointer; position: absolute; right: 5%; top: 5%; }
#container #header #menu .box { padding: 1em; display: flex; align-items: center; }
#container #header #menu .box:hover { background-color: #eeeeee; cursor: pointer; }
#container #header #menu .box#profile { background-color: darkgray; }
#container #header #menu.appear { display: flex; }
#container #header #information { position: relative; background-image: url("../images/cover.jpg"); background-repeat: no-repeat; background-position: center; background-size: cover; background-color: aqua; width: 100%; height: 100%; }
#container #header #information #search { position: relative; margin: 0 auto; padding: 0.5em; width: 95%; height: 4em; }
#container #header #information #search #menu-icon { cursor: pointer; position: absolute; top: 1em; left: 0.5em; }
#container #header #information #search input { width: 100%; height: 100%; border-radius: 0.5em; padding: 0.5em 1em 0.5em 2.5em; outline: none; }
#container #header #information #search input:focus { box-shadow: 0 0 0.5em #3266dc; }
#container #header #information #time_now { position: absolute; bottom: 0; padding: 0.7em; display: flex; justify-content: flex-start; }
#container #header #information #time_now .date_box { background-color: #fff; border: 0.1em solid #000; border-radius: 0.5em; overflow: auto; padding: 0.3em; margin-right: 0.2em; }
#container #content { width: 100%; overflow: auto; position: relative; display: flex; flex-direction: column; align-items: flex-start; }
#container #content #todo-container { position: relative; overflow: auto; width: 100%; padding: 1em; }
#container #content #todo-container.disappear { display: none; }
#container #content #todo-container .todo { display: flex; justify-content: flex-start; align-items: center; padding: 0.5em; }
#container #content #todo-container .todo .todo-text { padding: 0.5em; width: 12em; }
#container #content #options-container { z-index: 100; position: fixed; width: 100%; height: 2.5em; bottom: 0; box-shadow: 0 0 2em darkgray; border-top: 0.1em solid darkgray; }
#container #content #options-container #options { background-color: #fff; width: 100%; height: 100%; display: flex; justify-content: space-around; align-items: center; }
#container #content #options-container #options .option { position: relative; display: flex; align-items: center; justify-content: space-between; cursor: pointer; }

#action-container { position: absolute; display: none; width: 100%; height: 100%; overflow: auto; background-color: rgba(255, 255, 255, 0.8); }
#action-container.appear { display: block; }
#action-container .action_todo { position: absolute; box-sizing: border-box; width: 20em; height: auto; overflow: auto; background-color: #eeeeee; box-shadow: 0 0 1em gray; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 0.8em; }
#action-container #add_todo { display: none; }
#action-container #add_todo.appear { display: block; }
#action-container #add_todo #time { display: flex; flex-direction: column; padding: 1em; }
#action-container #add_todo #time .time-choice { position: relative; padding: 0.5em; display: flex; align-items: center; }
#action-container #add_todo #time #time-option { margin: 0 auto; }
#action-container #add_todo #time #time-option select { height: 1.6em; width: 2em; outline: none; border: 0.1em solid black; border-radius: 0.2em; font-size: 1.5em; }
#action-container #add_todo #time #time-option select option { padding: 0.1em 0; text-align: center; font-weight: bold; }
#action-container #add_todo #add-form form { display: flex; flex-direction: column; align-items: center; }
#action-container #add_todo #add-form form input { height: 2.5em; width: 16em; margin: 1em 0; padding: 0em 1em; border-radius: 0.5em; outline: none; }
#action-container #add_todo #add-form form input:focus { box-shadow: 0 0 1em #3266dc; }
#action-container #add_todo #close-add-form { position: absolute; top: 0; right: 0; padding: 1em; }
#action-container #delete_todo { padding-top: 2em; display: none; max-height: 28em; }
#action-container #delete_todo.appear { display: block; }
#action-container #delete_todo .todo { display: flex; justify-content: flex-start; align-items: center; padding: 0.1em 0.5em; }
#action-container #delete_todo .todo .todo-text { padding: 0.5em; width: 12em; }
#action-container #delete_todo #delete-form { display: flex; justify-content: center; }
#action-container #delete_todo #close-delete-form { top: 0; right: 0; position: absolute; padding: 1em; }
#action-container #edit_todo { padding-top: 2em; display: none; max-height: 28em; }
#action-container #edit_todo.appear { display: block; }
#action-container #edit_todo .todo { display: flex; justify-content: flex-start; align-items: center; padding: 0.1em 0.5em; }
#action-container #edit_todo .todo input { border-radius: 0.5em; margin: 0.5em; }
#action-container #edit_todo .todo .todo-text { padding: 0.5em; width: 12em; }
#action-container #edit_todo #edit-form { display: flex; justify-content: center; }
#action-container #edit_todo #close-edit-form { top: 0; right: 0; position: absolute; padding: 1em; }

.img-small { border-radius: 9999em; height: 2em; width: 2em; margin: 0.3em; }

.font { font-size: 1.25em; font-weight: normal; }

.font--bold { font-weight: bold; }

.font--small { font-size: 1.1em; }

.font--big { font-size: 1.6em; }

.font--white { color: #fff; }

.strike { text-decoration: line-through; }
.strike.tick { color: #32dc50; }
.strike.remove { color: red; }

.btn { display: flex; justify-content: center; align-items: center; width: 4.5em; background-color: #3266dc; border: 0.1em solid #fff; border-radius: 0.5em; padding: 0.6em 0em; margin: 0.5em 0; overflow: auto; }

.btn--red { background-color: red; }

.btn--green { background-color: #32dc50; }

input[type="radio"], input[type="checkbox"] { position: relative; width: 2.2em; height: 2.2em; margin: 0 0.5em; border: 0.3em solid #000; box-sizing: border-box; border-radius: 0.2em; -webkit-appearance: none; outline: none; }
input[type="radio"].tick:checked, input[type="checkbox"].tick:checked { border: 0.3em solid #32dc50; }
input[type="radio"].tick:checked::before, input[type="checkbox"].tick:checked::before { position: absolute; content: ""; width: 1em; background-color: #32dc50; transform-origin: left top; top: 1.5em; left: 0.9em; transform: rotate(-143deg); box-shadow: 0 0 1em #fff; height: 0.3em; animation: checkboxleft 0.2s ease 0s forwards; }
input[type="radio"].tick:checked::after, input[type="checkbox"].tick:checked::after { display: block; position: absolute; content: ""; width: 2.5em; background-color: #32dc50; transform-origin: left top; top: 1.05em; left: 0.8em; transform: rotate(-50deg); box-shadow: 0 0 1em #fff; height: 0.3em; animation: checkboxright 0.4s ease 0s forwards; }
@keyframes checkboxleft { 0% { height: 0em; }
  100% { height: 0.3em; } }
@keyframes checkboxright { 0% { width: 0em; }
  100% { width: 2em; } }
input[type="radio"].remove:checked, input[type="checkbox"].remove:checked { border: 0.3em solid red; }
input[type="radio"].remove:checked::before, input[type="checkbox"].remove:checked::before { position: absolute; content: ""; width: 2em; background-color: red; transform-origin: left top; top: 1.6em; left: 1.4em; transform: rotate(-135deg); box-shadow: 0 0 1em #fff; height: 1em; animation: checkboxleft 0.2s ease 0s forwards; }
input[type="radio"].remove:checked::after, input[type="checkbox"].remove:checked::after { position: absolute; content: ""; width: 1.7em; background-color: red; transform-origin: left top; top: 1.41em; left: -0.03em; transform: rotate(-45deg); box-shadow: 0 0 1em #fff; height: 0.3em; animation: checkboxright 0.4s ease 0s forwards; }
@keyframes checkboxleft { 0% { height: 0em; }
  100% { height: 0.3em; } }
@keyframes checkboxright { 0% { width: 0em; }
  100% { width: 2em; } }
.icon { width: 1.2em; height: 1.2em; cursor: pointer; margin: 0.4em; }

.icon--big { width: 1.5em; height: 1.5em; }

.icon--toobig { width: 2em; height: 2em; }

/*# sourceMappingURL=profile.css.map */
